body {
	margin: 0;
	padding: 0;
}

.border-l {
	border-left: 2px solid #aaa;
}

.border-r {
	border-right: 2px solid #aaa;
}

.border-b {
	border-bottom: 2px solid #aaa;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}


.seperate {
	margin-top: 12px;
	width: 2px;
	height: 25px;
}

.saprate-v {
	height: 1px;
	background-color: #ccc;
	background: linear-gradient(90deg, #fff, #333, #fff);
}
.saprate-line {
	height: 1px;
	background-color: #ccc;
	background: linear-gradient(90deg, #ccc, #333, #ccc);
}

.padding-l15 {
	padding-left: 15px;
}

.padding-l10 {
	padding-left: 10px;
}

.padding-l5 {
	padding-left: 5px;
}

.padding-r15 {
	padding-right: 15px;
}

.padding-r10 {
	padding-right: 10px;
}

.padding-r5 {
	padding-right: 5px;
}

.margin-l15 {
	margin-left: 15px;
}

.margin-l10 {
	margin-left: 10px;
}

.margin-l5 {
	margin-left: 5px;
}

.margin-r15 {
	margin-right: 15px;
}

.margin-r10 {
	margin-right: 10px;
}

.margin-r5 {
	margin-right: 5px;
}

.margin-t5 {
	margin-top: 5px;
}

.margin-t10 {
	margin-top: 10px;
}

.margin-t15 {
	margin-top: 15px;
}

.margin-t8 {
	margin-top: 8px;
}

.hide {
	display: none;
}