/*顶部的布局*/
.headBar {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	
}

.headBar-content {
	display: inline;
	height: 30px;
	width: 100%;
}

.headBar-logo {
	float: left;
	font-size: 18px;
	color: lightseagreen;
}

.headBar-tool {
	float: right;
}

.headBar-info {
	float: right;
	color: white;
}

/*左边的布局*/
.subnail {
	width: 40px;
}

.menuBar {
	height: 40px;
	box-shadow: 0px 0px 0px #000;
	background-color: #345;
	line-height: 40px;
	text-align: right;
	padding-right: 10px;
	color: white;
}

.menuItems {
	height: 100%;
	/*overflow-y: auto;*/
	/*box-shadow: 0px 1px 12px #000;*/
}

.menuItems>.ulcontainer {
	margin-top: 5px;
	padding-left: 0px;
	min-height: 70%;
	max-height: 70%;
	height: 70%;
	overflow-y: auto;
	box-shadow: 0px 1px 1px #888;
	border-bottom: 1px solid #888;
}

.menuItems>.ulcontainer ul{
	margin-top: 5px;
	padding-left: 10px; 
	width:100%;
	box-shadow: 0px 1px 1px #888;
	border-bottom: 1px solid #888;
}

.submenu{
	width:100%;
	padding-left:0px;
}

.menuItem {
	line-height: 40px;
	/*width: 92%;   // 哈哈  这个不要就好了*/
	list-style: none;
	padding-left: 10px;
	color: #fff;
}

.menuItem>div {
	display: inline-block;
}
.menuItem>.hide {
	display: none;
}

.menuItem img {
	vertical-align: middle;
}

.m-item-icon {
	/*width: 10px;*/
	
}

.m-item-desc {
	/*这里的width是因为上面设置了display为inlineblock，如果这里不设置则就不起作用了*/
	width: 80%;
	float: right;
	text-overflow: ellipsis;
	/*text-ovetflow 必须配合这个才能起作用*/
	overflow: hidden;
	white-space: nowrap;
}

.menuItem:hover {
	background-color: #21b992;
	/*height: 45px;*/
	line-height: 45px;
	padding-left: 0px;
	border-radius: 2px;
	transition: 0.2s;
	cursor: pointer;
}

.menuItemSelected {
	background-color: #21b982;
	/*background-color: #0088CC;*/
	/*height: 46px;*/
	line-height: 46px;
	padding-left: 0px;
	/*box-shadow:[投影方式] X轴偏移量 Y轴偏移量阴影模糊半径 阴影扩展半径 阴影颜色*/
	box-shadow: 0px 1px 2px #000;
	border-radius: 2px;
	border-bottom: 3px solid #fff;
}

.menuToolsContainer {
	/*height: 170px;*/
	min-height: 250px;
}

.menuTools {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.menuTool {
	padding: 0 10px 0 10px;
	display: inline-block;
	line-height: 35px;
	border-left: 1px;
	max-width: 90%;
	text-overflow: ellipsis;
	/*text-ovetflow 必须配合这个才能起作用*/
	overflow: hidden;
	white-space: nowrap;
	height: 35px;
	border-bottom: 1px dotted #777;
}

.menuTool>div {
	display: inline-block;
}

.menuTool>img {
	vertical-align: middle;
}

.m-tool-icon {
	margin-right: 0px;
	padding-top: 0px;
	float: left;
}

.m-tool-desc {
	float: right;
	width: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: pre-wrap;
}

.m-tool-desc, .m-tool-icon {
	/*border-bottom:  1px dotted #fff;*/
	
}

.menuTool:hover {
	background-color: #21b992;
	padding-left: 10px;
	border-radius: 2px;
	transition: 0.2s;
	cursor: pointer;
}

.fileList {
	width: 250px;
	height: 100%;
	border: 2px solid #aaa;
	border-radius: 0 3px 3px 0;
	background-color: #ffffff;
	float: left;
}

.fileList-headBar {
	height: 38px;
	box-shadow: 0px 1px 2px #ccc;
	border-radius: 0 3px 0 0;
	background-color: #456;
}

.fileList-content {
	height: 100%;
	overflow-y: auto;
	border-radius: 0 3px 0 0;
}

.fileList-items {
	margin: 0;
	padding: 0 0 50px 0;
}

.fileList-item{
	padding-top: 15px;
	list-style: none;
}

.fileList-item:hover {
	background-color: #f2f2f2;
	padding-top: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.fileList-item header{
	text-indent: 1em;
	font-size:1.1em;
}
.fileList-item .sub{
	font-size:0.5em;
	text-align: right;
	
}

/*右边内容区域的布局*/
.content-article {
	/*width: 100%;*/
	height: 100%;
	/*background-color: #AAAAAA;*/
}

.article-title-container {
	
}

.article-title {
	line-height: 50px;
	height: 50px;
	text-align: center;
	box-shadow: 0px 1px 2px #ccc;
}

.article-title-input {
	width: 55%;
	display: inline-block;
}

.article-title>input {
	border: none;
	font-size: 16px;
	text-align: center;
	height: 35px;
	width: 45%;
}

.article-title-input>input {
	width: 100%;
	border: none;
	font-size: 22px;
	text-align: center;
	height: 43px;
}

.article-title-tool {
	/*float: right;*/
	text-align: right;
	width: 25%;
}

.article-info {
	line-height: 30px;
	height: 30px;
	width: 100%;
}

.info-contianer {
	float: left;
	font-size: 12px;
	padding-left: 30px;
}

.button>img {
	vertical-align: middle;
}

/*文本内容*/
.article-content {
	margin-top: 5px;
	padding: 0 5px;
	height: 100%;
	overflow-y: auto;
}

.article-content-innerhtml {
	min-height: 80%;
	border-radius: 3px;
	padding: 5px;
	/*border: 1px solid #ccc;*/
	/*断词*/
	word-wrap: break-word;
	/*断句*/
	word-break: break-all;
}

.footer>ul>li {
	display: inline-block;
	line-height: 150px;
	background-color: #ccc;
	width: 30%;
}

.footer>ul>li>ul {
	padding: 0;
	margin: 0;
}

.footer>ul>li>ul>li {
	background-color: #aaa;
	width: 100%;
	line-height: 40px;
	list-style: none;
	margin: 3px 0;
}

/* 设置滚动条的样式 
*::-webkit-scrollbar        滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。
*::-webkit-scrollbar-button      滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
*::-webkit-scrollbar-track         外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
*::-webkit-scrollbar-track-piece        内层轨道，滚动条中间部分（除去）。
*::-webkit-scrollbar-thumb               滚动条里面可以拖动的那部分
*::-webkit-scrollbar-corner               边角
*::-webkit-resizer                       定义右下角拖动块的样式
 * */
*::-webkit-scrollbar {
	width: 5px;
}

/*上下的按钮*/
*::-webkit-scrollbar-button {
	/*	background-color: #234;
	height: 15px;
	border-radius: 3px;*/
	
}

/* 滚动槽 */
*::-webkit-scrollbar-track {
	/*width: 44px;*/
	/*background-color: #eee;*/
	background-color: #456;
}

/* 滚动条滑块 按下的时候触发 */
*::-webkit-scrollbar-thumb {
	border-radius: 13px;
	background-color: #456;
	width: 55px;
}

*::-webkit-scrollbar-thumb:window-inactive {
	background: #678;
}

/*
Scrollbar-Face-Color为滚动条表面颜色设定；
Scrollbar-Highlight-Color为滚动条上斜面和左斜面颜色设定；
Scrollbar-Shadow-Color为滚动条下斜面和右斜面颜色设定；
Scrollbar-3Dlight-Color为滚动条上边和左边的边沿颜色设定；
Scrollbar-Arrow-Color为滚动条两端箭头颜色设定。
Scrollbar-Track-Color为滚动条底板颜色设定；
Scrollbar-Darkshadow为滚动条下边和右边边沿颜色设定。*/
.menuItems {
	SCROLLBAR-FACE-COLOR: #567;
	SCROLLBAR-SHADOW-COLOR: #456;
	SCROLLBAR-HIGHLIGHT-COLOR: #457;
	SCROLLBAR-3DLIGHT-COLOR: #457;
	SCROLLBAR-DARKSHADOW-COLOR: #456;
	SCROLLBAR-TRACK-COLOR: #456;
	SCROLLBAR-ARROW-COLOR: #456;
}